

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

img {
    float: left;
    object-position: relative;
}  

.app {
    font-weight: bold;
    margin: 5;
    font-size: 36px;
    color: rgba(56, 85, 252, 0.788);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border:solid rgba(56, 85, 252, 0.788)
    border: solid rgba(56, 85, 252, 0.788)
    border thickness: 5px;
    padding: 5px;
    space-between: center;
    space-around: middle;
    
  }
  
header {
    font-weight: bold;
    background-color: #333;
    color: #ccc;
    text-align: center;
    border-bottom: 1px solid;
    margin: 0;
    font-size: x-large;
  }

nav {
    display: flex;
    background-color: black;
    padding: 10px 0;
    }

footer {
        background-color: #555;
        color: #bbb;
        line-height: 1.5;
        font-size: 1.25;
        flex-wrap: wrap;
    